@model NetRomSummerCampApp.Models.Review

@using (Html.BeginForm("CreateReview", "Home", FormMethod.Post))
{
    @Html.Hidden("AnnouncementId", Model.AnnouncementId)

    @Html.Label("Username")
    @Html.TextBox("Username", null, new { @class = "form-control" })


    @Html.Label("Rating")
    @Html.TextBox("Rating", null, new { @class = "form-control" })


    @Html.Label("Comment")
    
    @Html.TextBox("Comment", null, new { @class = "form-control" })

    @*@Html.ActionLink("Create", "CreateReview", new { Model })*@
    <button class="btn btn-default" type="submit">Comment</button>

    @*@Html.ActionLink("Create", "CreateReview", new { AnnouncementId = Model.AnnouncementId, Username = Model.Username, Rating = Model.Rating, Comment = Model.Comment })*@
}
 










