@model NetRomSummerCampApp.Models.Review

@using (Html.BeginForm("CreateReview", "Home", FormMethod.Post))
{
    <div class="form-inline">
@Html.Hidden("AnnouncementId", Model.AnnouncementId)

@Html.Label("Username")
@Html.TextBox("Username", null, new { @class = "form-control" })


@Html.Label("Rating")
        <select class="form-control" id="Rating" name="Rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
@*@Html.TextBox("Rating", null, new { @class = "form-control" })*@

    </div>
    


    @Html.Label("Comment")
    
    @Html.TextArea("Comment", null, new { @class = "form-control" })
       
    <button class="btn btn-default"  style="margin:2%" type="submit">Comment</button>

}
 








